In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
X=np.vstack([(np.random.rand(10,2)*5),(np.random.rand(10,2)*10)])
Y=np.hstack([[0]*10,[1]*10])
ds = pd.DataFrame(X,columns={'X1','X2'})
ds["Y"]=Y
ds

           0         1  Y
0   3.984236  3.990732  0
1   1.723358  0.739451  0
2   3.531805  4.632710  0
3   4.820037  2.221480  0
4   4.709067  4.187796  0
5   4.425009  3.752005  0
6   2.363653  1.673683  0
7   0.965633  4.789031  0
8   3.268294  0.200928  0
9   3.417105  1.438827  0
10  9.571450  3.710153  1
11  1.302481  5.288173  1
12  3.903948  1.032496  1
13  3.139449  1.407493  1
14  2.954277  5.161992  1
15  7.866485  6.207655  1
16  5.428811  3.599813  1
17  1.475685  6.795940  1
18  7.933723  1.145453  1
19  3.442349  2.947858  1